version: 2.1
orbs:
  matlab: mathworks/matlab@1
jobs:
  build:
    machine:
      image: ubuntu-2204:current
    steps:
      - checkout
      - matlab/install:
          products: Optimization_Toolbox Curve_Fitting_Toolbox
      - matlab/run-tests:
          source-folder: code

      # As an alternative to run-tests, you can use run-command to execute a MATLAB script, function, or statement.
      # - matlab/run-command:
      #     command: addpath('code'); results = runtests('IncludeSubfolders', true); assertSuccess(results);
