version: 2.1
orbs:
  matlab: mathworks/matlab@1
jobs:
  build:
    machine:
      image: ubuntu-2204:current
    environment:
      MATLAB_LOG_DIR: /home/circleci/project/logs
      MW_DIAGNOSTIC_DEST: file
      MW_DIAGNOSTIC_SPEC: cppmicroservices::framework.*=all;install.*=all;
      MW_VERBOSE_HTTPCLIENT_CORE: 1
      MW_BATCH_LICENSING_ONLINE: true  # testing online validation, can remove when this becomes the default
    steps:
      - checkout
      - run:
          name: Remove problematic Launchpad PPAs
          command: |
            echo "Removing PPA sources from /etc/apt/sources.list.d"
            sudo find /etc/apt/sources.list.d/ -type f -name '*.list' -exec grep -l 'ppa.launchpad' {} \; | xargs sudo rm -f
      - matlab/install:
          products: Optimization_Toolbox Curve_Fitting_Toolbox
      - matlab/run-tests:
          source-folder: code
      - run:
          command: tar -cvzf matlab-logs.tar /home/circleci/project/logs
          when: on_fail
      - store_artifacts: 
          path: matlab-logs.tar
          when: on_fail

      # As an alternative to run-tests, you can use run-command to execute a MATLAB script, function, or statement.
      # - matlab/run-command:
      #     command: addpath('code'); results = runtests('IncludeSubfolders', true); assertSuccess(results);
