version: 2.1

orbs: 
  win: circleci/windows@5
  matlab: mathworks/matlab@1

executors:
  linux:
    machine:
      image: ubuntu-2204:current
  macos:
    macos:
      xcode: 14.2.0
    resource_class: macos.m1.medium.gen1
  windows: 
    name: win/default
    shell: bash.exe

jobs:
  build:
    parameters:
      os:
        type: executor
      release:
        type: string
    executor: <<parameters.os>>
    environment:
       MATLAB_LOG_DIR: /home/circleci/project/logs
       MW_DIAGNOSTIC_DEST: file
       MW_DIAGNOSTIC_SPEC: cppmicroservices::framework.*=all;install.*=all;
       MW_VERBOSE_HTTPCLIENT_CORE: 1
    steps:
      - checkout
      - matlab/install:
          release: <<parameters.release>>
          products: Optimization_Toolbox Curve_Fitting_Toolbox
      - matlab/run-tests:
          source-folder: code
      - run:
           command: tar -cvzf matlab-logs.tar /home/circleci/project/logs
           when: on_fail
       - store_artifacts: 
           path: matlab-logs.tar
           when: on_fail

workflows:
  all-builds:
    jobs:
      - build:
         matrix:
           parameters:
              os: [linux, macos, windows]
              release: [R2021a, R2021b, R2022a, R2022b, R2023a, R2023b, R2024a, R2024b, latest]
