version: 2.1

orbs: 
  win: circleci/windows@5
  matlab: mathworks/matlab@1

executors:
  linux:
    machine:
      image: ubuntu-2204:current
  macos:
    macos:
      xcode: 14.2.0
    resource_class: macos.m1.medium.gen1
  windows: 
    win/default

jobs:
  build:
    parameters:
      os:
        type: executor
      release:
        type: string
    executor: <<parameters.os>>
    steps:
      - checkout
      - matlab/install:
          release: <<parameters.release>>
      - matlab/run-tests:
          source-folder: code

workflows:
  all-builds:
    jobs:
      - build:
         matrix:
           parameters:
              os: [linux, macos, windows]
              release: [R2021a, R2021b, R2022a, R2022b, R2023a, R2023b, R2024a, R2024b, latest]
